<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>porto</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navStyle">
    <!-- <nav class="navbar navbar-expand-sm bg-warning navStyle"> -->
        
            <div class="col-sm-3">
                <a routerLink="/home" class="homeLink"> <p class="logo">porto elso5na</p>  </a>
            </div>
            <div class="col-sm-6" style="height: 10px;"></div>
        
            <div class="col-sm-3 navSupport">
                <a routerLink="/home" style="float: left; margin-right: 20px;">
                    <i class="fa fa-home" style="font-size:48px;color:white"></i>
                </a>

                <a routerLink="/calling">
                    <img src="assets\whatsapp.png" id="whatsimg" alt="whatsapp" align="Left" >
                </a>

                <a href="https://www.google.com.eg/maps/place/Porto+Sokhna/@29.44134,32.4767806,15.5z/data=!4m9!1m2!2m1!1sporto+sokhna!3m5!1s0x1456f840a79e1b5d:0xf1dbf9a83bfaae31!5m2!4m1!1i2!15sCgxwb3J0byBzb2tobmGSARNleHRlbmRlZF9zdGF5X2hvdGVs?hl=en" target="_blank" class="location">
                    <i class="material-icons" style="font-size:48px;color:red ">location_on</i>  <!-- porto location -->
                </a>

                <a routerLink="/callcenter">
                    <img src="assets\support.png" class="supportImg" alt="supportImg" align="Left">   <!-- خدمة العملاء -->
                </a>
            </div>
        
        
      </nav>
      
</body>
</html>