<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
</head>
<body>
    <div class="container-fluid" style="padding-top: 20px;">
        <div class="col-sm-2 div1"></div>
       
        <div class="col-sm-4 ">
            <div class="card" style="width:100% ;">
                <img class="card-img-top" src="assets\register.jpg" alt="Card image" height="280px" >
                <div class="card-body">
                  <h4 class="card-title"> users regist</h4>
                  <a href="\master" class="btn btn-primary" >See data</a>
                </div>
              </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width:100%">
                <img class="card-img-top" src="assets\comments.jpg" alt="Card image" height="280px">
                <div class="card-body">
                  <h4 class="card-title">Comments - Reports</h4>
                  <a href="\comments" class="btn btn-primary" >See data</a>
                </div>
              </div>
        </div>

    </div>
</body>
</html>