[class*="col-"]{
    width: 100%;
    float: left;
}
@media only screen and (max-width: 600px) {
    div h1 {
        font-size: 30px;
    }
}

.btn{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin-top: 250px;
}