<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calling</title>
</head>
<body>
    <div class="container">

            <div class="col-sm-4 callingMsg">
                <img src="assets\phone.jpg" alt="phoneImg" width="100%" height="100px" style="border-radius: 30px;"> <br><br>
                <p>يمكنك التواصل معنا عن طريق الاتصال او الواتس آب للاستفسار والمساعدة والابلاغ عن اي مشكلات او اعطال   , الخدمة مستمرة 24 ساعة</p>
                <p>you can Contact us by phoning or by whats app to inquire and report any problems or malfunctions, the service continues 24 hours</p>
            </div>
            <div class="col-sm-4 callingData">
                <p style="color: red;">Phones</p>
                <p>⁦+20 155 243 4550⁩</p>
                <p>⁦+20 112 492 8181⁩</p>
                <p>⁦+20 100 901 6938⁩</p>
                <p>⁦+20 101 537 5783⁩</p>
                <p>⁦+20 102 349 6640⁩</p>
                <p>⁦+20 120 161 3538⁩</p>
            </div>
            <div class="col-sm-4">
                <img src="assets\portoo.jpg" class="callingPhoto" alt="calling" width="100%" height="250px">
            </div>

    </div>
</body>
</html>