<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porto</title>
</head>
<body>
    <div class="footer col-12">
        <a href="https://www.google.com.eg/maps/place/Porto+Sokhna/@29.44134,32.4767806,15.5z/data=!4m9!1m2!2m1!1sporto+sokhna!3m5!1s0x1456f840a79e1b5d:0xf1dbf9a83bfaae31!5m2!4m1!1i2!15sCgxwb3J0byBzb2tobmGSARNleHRlbmRlZF9zdGF5X2hvdGVs?hl=en" target="_blank">
            porto location
        </a>
        <a routerLink="/calling">Contact Us</a>
        <a routerLink="/aboutus">About Us</a>
        <a routerLink="/report">Report For Problems</a>
        <a routerLink="/gethelp">Get Help</a>
    </div>
    <div class="col-12">
        <div class="col-sm-4" style="height: 10px;"></div>
          <div class="col-sm-4">
          <img src="assets\portologo.jpg" alt="portologo" width="100%" height="200px" class="portologo2">
          </div>
          <div class="col-sm-4" style="height: 10px;"></div>
    </div>
</body>
</html>