<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>porto</title>
</head>

<body>
  <!-- <img src="assets\porttoo.jpg" alt="بورتوووو" id="imgbg" width="100%" height="400px"> --> <!-- photo we make-->
  <img src="assets\bigPhoto1.jpg" alt="بورتوووو" id="imgbg" width="100%" height="400px"><!-- big photo for 3abaset-->


    <div class="container-fluid">
        <div class="col-sm-5" id="presentation" data-aos="fade-down" data-aos-duration="2000">
          نتمني ان تستمتع لدينا بكل ما هو جميل ونامل بقضاء صيف ممتع لك وللعائلة الكريمة <br>  نقدم لك اقوي الخدمات الاساسية والترفيهية <br> . نستقبلك بقلوبنا قبل حروفنا، بكل سعادة وعزة   <br> <br>
          We hope you enjoy everything that is beautiful and we hope to spend an enjoyable summer for you and your generous family We provide you with the best basic and entertainment services
. We welcome you with our hearts before our letters, with happiness and pride .
        </div>

        <div class="col-sm-7">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                  <li data-target="#demo" data-slide-to="4"></li>
                  <li data-target="#demo" data-slide-to="5"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets\photo6.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                      <div class="carousel-item ">
                        <img src="assets\photo3.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                      <div class="carousel-item ">
                        <img src="assets\photo12.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                      <div class="carousel-item ">
                        <img src="assets\photo10.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                      <div class="carousel-item ">
                        <img src="assets\photo14.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                      <div class="carousel-item ">
                        <img src="assets\photo7.jpg" class="imgMove" alt="porto" width="100%" height="460px">
                      </div>
                                          
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
        </div>

        <div class="col-12">
          <div class="col-sm-4" style="height: 10px;"></div>
          <div class="col-sm-4">
          <img src="assets\بورتووو.jpg" alt="portologo" width="100%" height="200px" class="portologo">
          </div>
          <div class="col-sm-4" style="height: 10px;"></div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\room1.jpg" alt="Card image" height="250xp">
            <div class="card-body">
              <h4 class="card-title">فيو تحفة اكتر من رائع  من الغرفه</h4>
              <!-- <p class="card-text">asd</p> -->
              <!--<a routerLink="/regist" class="btn btn-primary">احجز الان</a>-->  <!-- btn color we make-->
              <a routerLink="/regist" class="btn btn-warning">احجز الان</a> <!-- btn color for 3abaset-->
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\room2.jpg" alt="Card image" height="250xp">
            <div class="card-body">
              <h5 class="card-title">فيو رائع بسين وبحر من ألتراس مع اجواء عائليه حلوه بنفس المنظر</h5>
              <!-- <a routerLink="/regist" class="btn btn-primary">احجز الان</a> --> <!-- btn color we make-->
              <a routerLink="/regist" class="btn btn-warning">احجز الان</a> <!-- btn color for 3abaset-->
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\room3.jpg" alt="Card image" height="250xp">
            <div class="card-body">
              <h4 class="card-title">غرفه نوم ماستر بحمام داخلي </h4>
              <!-- <a routerLink="/regist" class="btn btn-primary">احجز الان</a> -->  <!-- btn color we make-->
              <a routerLink="/regist" class="btn btn-warning">احجز الان</a> <!-- btn color for 3abaset-->
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top" src="assets\room4.jpg" alt="Card image" height="250xp">
            <div class="card-body">
              <h4 class="card-title"> غرفة نوم اطفال تحفة </h4>
              <!-- <a routerLink="/regist" class="btn btn-primary">احجز الان</a> -->  <!-- btn color we make-->
              <a routerLink="/regist" class="btn btn-warning">احجز الان</a> <!-- btn color for 3abaset-->
            </div>
          </div>
        </div>
        <div class="col-12" style="margin-bottom: 20px;">
          <div class="col-sm-7 ">
            <img src="assets\photo17.jpg" alt="night" class="nightphoto" width="100%" height="450px">
          </div>
          <div class="col-sm-5 textNightStyle"  data-aos="fade-down" data-aos-duration="3000">
            <p>
              روعة الاجواء الليلة والاستمتاع الرائع بكل ما هو مريح لقلبك وعقلك . نتمني لك الراحة والسعادة و قضاء وقت ممتع
            </p>
            <p>
              The splendor of the atmosphere tonight and the wonderful enjoyment of everything that is comfortable for your heart and mind. We wish you comfort, happiness and have a good time
            </p>
          </div>
        </div>
        
        <div class="col-12">
          <div class="col-sm-5 textSunsetStyle"  data-aos="fade-down" data-aos-duration="3000">
            <p>
              وكذلك مشاهدة أجمل المناظر لغروب الشمس وشروقها مما يخلق أجواء ممتعة لك ولعائلتك
            </p>
            <br>
            <p>
              As well as seeing the most beautiful views of sunset and sunrise, which create an enjoyable atmosphere for you and your family
            </p>
          </div>
          <div class="col-sm-7">
            <img src="assets\photo5.jpg" alt="sunset" class="sunsetPhoto" width="100%" height="400px">
          </div>
        </div>
        <div class="col-12 text-center divAlert" ><h2>ترقبوا اقوي  العروض الشهرية من بورتو السخنة</h2> </div>
      </div>
    
      
</body>
</html>